{% extends "main_app/base_2.html" %}
{% load static %}

{% block seo_info %}
    <title>Comment commander aux commerces autour de chez vous pendant le confinement ? | Shop Must Go On</title>

    <meta name="description" content="Retrouvez tous les commerces et restaurants de votre ville sur <b>Shop Must Go On</b> ainsi que les informations pour continuer à commander chez eux pendant cette période.">
    <meta name="keywords" content="commerces, boutiques, confinement, restaurants, commander, proximité">
{% endblock seo_info  %}

{% block title %}
        <h1 class="text-center mx-auto title-page" style="font-family: 'redwingmedium'; color:white"> En savoir plus </h1>
{% endblock title %}

{% block content %}

    <div class="container mt-5" style="font-family: 'Roboto'; font-size:15pt;">
        <p>
            Ce projet a pour objectif d'<span style="font-weight:500">aider les commerces fermés</span> pendant le confinement à <span style="font-weight:500">continuer leur activité</span>. <br>
            Le site référence les différentes boutiques des villes ajoutées et des informations permettant de commander chez eux.
        </p>
        <p>
            L'inscription de votre boutique sur ce site est entièrement <span style="font-weight:500">gratuite</span>.
        </p>
          <hr class="my-4">
        <small>
            Faîtes-moi part de vos remarques par mail :
            <a href="mailto:timothe@shop-must-go-on.fr">timothe@shop-must-go-on.fr</a>
        </small>
    </div>

{% endblock content %}
