.category {
    color:black;
    font-family: 'Roboto';
    font-weight:500;
    font-size:15pt;
}

.category-selected {
    text-decoration: underline solid #00FFA6 2.5px;
    text-underline-offset: 4px;
}

.category-selected:hover {
    text-decoration: underline solid #00FFA6 2.5px;
    text-underline-offset: 4px;
}


.category:hover{
    color:#6e6e6e;
}

.title-shop-name{
    color:black;
    font-family: 'Roboto';
    font-weight:500;
    font-size:30pt;
}

.city_name{
    font-family:'Roboto';
    font-size:15pt;
    background-color: rgba(255,255,255,.25);
    border-radius:5px;
}

.city_name:hover{
    background-color: rgba(255,255,255,.35);
    text-decoration: none;
    transition: background-color 0.1s ease-in-out;
}

.website-link{
    font-family: 'Roboto';
    font-size:20px;
    color:black;
}

.website-link:hover{
    color:#00FFA6;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.back-arrow{
    font-family:'Roboto';
    font-size:13pt;
    color:black;
    width:200px;
    border-radius:5px;
    text-decoration: none;
}

.back-arrow:hover{
    background-color:#ededed;
    transition: background-color 0.1s ease-in-out;
}

.title-landing{
    font-size: 2.4em; /*1rem = 16px*/
}

.title-page{
    font-size:2em;
}

.subtitle-landing{
    font-size: 14pt; /*1rem = 16px*/
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
}

.logo-landing{
    height:65px;
}

.info-text{
    font-family:'Roboto';
    font-size:11pt;
    font-style: italic;
}



@media (min-width: 1000px) {
.title-landing{
    font-size: 3.8em; /*1rem = 16px*/
}

.logo-landing{
    height:75px;
}

.subtitle-landing{
    font-size: 17pt; /*1rem = 16px*/
}

.info-text{
    font-size:13.5pt;
}

.city_name{
    font-size:18pt;
}

.title-page{
    font-size:2.5em;
}

}
